httpx[http2]
dnspython
beautifulsoup4
tldextract
python-dotenv
langdetect
openpyxl

# FastAPI + server
fastapi
uvicorn[standard]
jinja2
python-multipart

# Database
sqlalchemy
asyncpg
aiosqlite
alembic
pydantic-settings
